.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    > * {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2rem;
    }
}

